html,
body {
  font-family: $font-family-base;
}

a {
  color: $color-primary;

  &:hover,
	&:active,
	&:focus,
	&:visited {
    color: $color-primary-dark;
		cursor: pointer;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-accent;
}
