$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;

$color-gray-very-light: #f9f9f9;
$color-gray-light: #f1f1f1;
$color-gray: #dddddd;
$color-gray-dark: #888888;
$color-charcoal: #222222;
$color-lightcharcoal: #808080;

/* Logo and accent colors */
$color-primary: #09505b;
$color-primary-dusky-light: #C7E8F2;
$color-primary-light: #599fb7;
$color-primary-dark: darken(#09505b, 5%);
$color-accent: #D16291;

$nav-color: $color-primary;

$color-twitter: #55acee;
$color-twitter-dark: #3F8BC4;

$font-size-base: 13px;
$font-family-base: 'Arial', sans-serif;
$font-family-accent: 'Archivo Narrow', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-serif: 'Georgia', serif;

$dim-box-height: 175px;
$dim-center-row-height: 200px;
$dim-box-padding: 20px;
$dim-gutter: 20px;
$dim-footer-height: 200px;

$fancy-border: 1px solid #ddd;
$fancy-border-twitter: 5px solid #23abe1;
$color-nav: $color-primary;
$color-nav-hover: $color-primary-dark;
$color-box-border: 1px solid $color-gray-light;
$color-box-background: $color-gray-very-light;

$transition-speed: 1000ms linear;
